.reviews-container {
  display: flex;
  justify-content: center;
}

.no-reviews {
  text-align: center;
  margin-top: 1rem;
}

.mobile-reviews-container {
  display: column;
  text-align: center;
}

.review-column {
  background-color: #ebebeb;
  display: column;
  margin-bottom: 2rem;
  padding-top: 1rem;
  outline: solid;
}

.review-column,
.review-row {
  width: 100%;
  outline: solid;
}

.rating-row {
  border-top: solid;
  border-bottom: solid;
}

.r-mobile-image-container {
  display: flex;
  justify-content: center;
  height: 260px;
  width: 210px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.r-image-container {
  display: flex;
  justify-content: center;
  height: 260px;
  width: 210px;
  margin: 0 auto;
}

.review-image {
  height: 260px;
  width: 210px;
}

.reviews-table {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

td,
th {
  background-color: white;
  border: 2px solid black;
  text-align: center;
}

th {
  padding: 0.5rem;
}

td {
  padding: 1rem;
}

th > h1,
td > h1,
td > p {
  margin: 0;
}

th > h1 {
  font-size: calc(1.1rem + 1.5vw);
}

td > p {
  font-size: 1.1rem;
}

.review-row > p {
  padding-bottom: 0.5rem;
}

th[scope='col'] {
  background-color: #ebebeb;
  color: black;
}

.image-test {
  width: 20%;
}

.rating-test {
  width: 20%;
}

.review-test {
  width: 60%;
}

@media (width >= 576px) {
  .mobile-reviews-container {
    display: none;
  }

  .reviews-table {
    display: table;
  }

  .r-image-container {
    height: 200px;
    width: 160px;
  }

  .review-image {
    height: 200px;
    width: 160px;
  }
}

@media (width >= 768px) {
  .image-test {
    width: 30%;
  }

  .rating-test {
    width: 20%;
  }

  .review-test {
    width: 50%;
  }

  .r-image-container {
    height: 220px;
    width: 180px;
  }

  .review-image {
    height: 220px;
    width: 180px;
  }
}

@media (width >= 992px) {
  .r-image-container {
    height: 260px;
    width: 220px;
  }

  .review-image {
    height: 260px;
    width: 220px;
  }

  td > p {
    font-size: 1.2rem;
  }
}

@media (width >= 1200px) {
  .image-test {
    width: 30%;
  }

  .rating-test {
    width: 20%;
  }

  .review-test {
    width: 50%;
  }
}
