a {
  text-decoration: none;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #7575ff;
  height: 2.5rem;
}

.aniviewer-row {
  display: flex;
  justify-content: center;
  background-color: #7575ff;
  padding-top: 0.5rem;
}

.aniviewer-main-tab {
  display: inline;
  font-size: 1.5rem;
  color: white;
  font-style: italic;
}

.aniviewer-tab {
  display: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

.anime-tab,
.manga-tab {
  color: white;
  font-size: 1.1rem;
}

.seasonal-tab,
.popular-tab,
.top-tab,
.bookmarks-tab,
.reviews-tab,
.sign-out-tab {
  text-decoration: none;
  color: white;
}

.tab-switcher {
  background-color: white;
  border: solid 1px;
}

.anime-dropdown-items,
.manga-dropdown-items,
.user-dropdown-items {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #7575ff;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  z-index: 3;
}

.anime-dropdown,
.anime-dropdown-items {
  width: 4.4rem;
  text-align: center;
}

.manga-dropdown,
.manga-dropdown-items {
  min-width: 4.7rem;
  text-align: center;
}

.user-dropdown,
.user-dropdown-items {
  width: 5rem;
  text-align: center;
}

.anime-dropdown:hover .anime-dropdown-items,
.manga-dropdown:hover .manga-dropdown-items,
.user-dropdown:hover .user-dropdown-items {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
}

.fa-user {
  font-size: 2rem;
}

.pop-nav-search {
  display: flex;
  justify-content: center;
}

.nav-search {
  display: none;
}

.search.modal-content {
  width: 50%;
  margin: 0 auto;
}

.search-bar {
  width: 12rem;
}

.fa-search {
  font-size: 1.5rem;
  color: white;
}

.user-dropdown:hover {
  cursor: pointer;
}

.modal-body {
  padding-bottom: 0;
}

.modal-footer {
  justify-content: center;
}

.sign-up {
  text-align: end;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.sign-up-redirect-button {
  margin-left: 0.3rem;
  font-size: 0.8rem;
  border: solid 1px;
  border-radius: 8px;
  background-color: #ffb429;
}

.sign-up-button,
.sign-in-button {
  height: 4rem;
  width: 8rem;
  font-size: 1.8rem;
  border: solid 2px black;
  border-radius: 1rem;
  background-color: #7575ff;
  color: white;
}

@media (width >= 576px) {
  .anime-tab,
  .manga-tab {
    font-size: 1.3rem;
  }

  .anime-dropdown,
  .anime-dropdown-items {
    width: 5rem;
    text-align: center;
  }

  .fa-search {
    width: 3rem;
    text-align: center;
  }

  .user-dropdown,
  .user-dropdown-items {
    width: 6rem;
    text-align: center;
  }
}

@media (width >= 768px) {
  .navigation-bar {
    height: 3.3rem;
  }

  .aniviewer-row {
    display: none;
  }

  .aniviewer-tab {
    display: block;
  }

  .nav-search {
    display: flex;
  }

  .fa-search {
    display: none;
  }

  .anime-dropdown,
  .anime-dropdown-items {
    width: 5.3rem;
    text-align: center;
  }

  .anime-tab,
  .manga-tab {
    font-size: 1.35rem;
  }

  .seasonal-tab,
  .popular-tab,
  .top-tab,
  .bookmarks-tab,
  .reviews-tab,
  .sign-out-tab {
    font-size: 1.1rem;
  }

  .anime-dropdown:hover .anime-dropdown-items,
  .manga-dropdown:hover .manga-dropdown-items,
  .user-dropdown:hover .user-dropdown-items {
    display: flex;
    flex-direction: column;
    padding-top: 0.6rem;
  }
}

@media (width >= 992px) {
  .search-bar {
    width: 15rem;
  }

  .tab-switcher {
    width: 4.5rem;
    font-size: 1.15rem;
  }
}

@media (width >= 1200px) {
  .navigation-bar {
    justify-content: space-between;
    height: 3.5rem;
  }

  .aniviewer-tab {
    margin-left: 2.5rem;
    font-size: 1.6rem;
  }

  .user-dropdown {
    margin-right: 1.5rem;
  }

  .search-bar {
    width: 20rem;
  }

  .anime-dropdown,
  .anime-dropdown-items {
    width: 5.6rem;
  }

  .user-dropdown,
  .user-dropdown-items {
    width: 6.8rem;
  }

  .anime-tab,
  .manga-tab {
    font-size: 1.5rem;
  }

  .seasonal-tab,
  .popular-tab,
  .top-tab,
  .bookmarks-tab,
  .reviews-tab,
  .sign-out-tab {
    font-size: 1.2rem;
  }
}

@media (width >= 1400px) {
  .navigation-bar {
    height: 4rem;
  }

  .tab-switcher {
    width: 5rem;
    font-size: 1.25rem;
  }

  .anime-dropdown,
  .anime-dropdown-items {
    width: 5.8rem;
  }

  .user-dropdown,
  .user-dropdown-items {
    width: 7rem;
  }

  .anime-tab,
  .manga-tab {
    font-size: 1.6rem;
  }

  .seasonal-tab,
  .popular-tab,
  .top-tab,
  .bookmarks-tab,
  .reviews-tab,
  .sign-out-tab {
    font-size: 1.3rem;
  }
}
