.col-3 {
  margin: 6rem 10rem 0 0;
  outline: solid;
}

.col-8 {
  margin: 6rem 10rem 0 0;
}

.manga-picture-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-image {
  width: 100%;
  height: 100%;
  margin: 0;
}

.title {
  text-align: center;
  outline: solid;
}

.stats {
  display: flex;
}

.rank,
.score,
.popularity {
  padding: 0 5rem;
  margin: 0;
}

/* .rank {
  border: solid;
}

.score {
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
}

.popularity {
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
} */

.manga-details {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.type,
.episodes,
.genres {
  margin-left: 0.3rem;
  line-height: 2rem;
}
