.mangas-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.manga-container {
  flex-basis: calc(100% / 8);
  padding: 0 1rem;
}

.manga-icon-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.rowOfMangas {
  display: flex;
  flex-wrap: wrap;
}

.manga-title {
  text-align: center;
  text-wrap: wrap;
  color: black;
  margin: 0;
  padding: 0;
}
