.mangas-container {
  margin-top: 1rem;
}

.manga-container {
  flex-basis: calc(100% / 8);
  padding: 0 1rem;
}

.manga-icon-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.rowOfMangas {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}
