body {
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

.seasonal,
.popular {
  padding-left: 1.5rem;
  padding-bottom: 0.3rem;
  border-bottom: solid 1.5px;
}

.carousel {
  display: flex;
}

.anime-carousel {
  margin-top: 1.5rem;
}

.carousel-indicators {
  display: none;
}

.carousel-control-prev,
.carousel-control-next {
  height: 290px;
  width: 7%;
  background: black;
}

.carousel-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1.3rem;
  border-bottom: solid 1.5px;
}

.carousel-anime {
  margin: 0 1rem;
}

.carousel-anime-and-title {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.anime-image {
  position: relative;
}

.anime-title {
  margin: 0;
  padding: 0;
}

.carousel-caption {
  color: black;
}
