.animeCarousel {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}

h2 {
  border-bottom: solid;
}

h5 {
  text-align: center;
  text-wrap: wrap;
  color: black;
}

.carousel {
  display: flex;
}

.carousel-item.active {
  display: flex;
}

.carousel-control-prev,
.carousel-control-next {
  position: relative;
  width: 100px;
  height: 260px;
  background-color: gray;
  opacity: 0.8;
}

.animeIcon {
  border: black solid 3px;
}

img {
  margin: 0 0.8rem;
  height: 260px;
}
