.navbar {
  background-color: #7575ff;
}

.aniviewer-tab,
.anime-tab,
.manga-tab,
.seasonal-tab,
.popular-tab,
.top-tab,
.bookmarks-tab,
.reviews-tab,
.sign-out-tab {
  text-decoration: none;
  color: white;
}

/* .aniviewer-tab:hover,
.anime-tab:hover,
.manga-tab:hover,
.seasonal-tab:hover,
.popular-tab:hover,
.top-tab:hover,
.bookmarks-tab:hover,
.reviews-tab:hover,
.sign-out-tab:hover {
} */

.dropdown-items {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #7575ff;
  min-width: 9rem;
  padding-top: 0.3rem;
  z-index: 2;
}

.dropdown:hover .dropdown-items {
  display: flex;
  flex-direction: column;
}

.aniviewer-tab {
  padding-left: 2rem;
  font-size: 1.5rem;
}

.search-bar {
  margin: 0 auto;
}

.search {
  width: 25rem;
}

.anime-tab,
.manga-tab {
  margin-right: 10rem;
  font-size: 1.5rem;
}

.fa-user {
  margin-right: 4rem;
  padding-left: 3.5rem;
  font-size: 2.5rem;
}
