.navbar {
  background-color: #7575ff;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.aniviewer-tab,
.anime-tab,
.manga-tab {
  text-decoration: none;
  color: white;
}

.dropdown-items {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #7575ff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-items {
  display: flex;
  flex-direction: column;
}
