.reviews-container {
  display: flex;
  justify-content: center;
}

.mobile-reviews-container {
  display: column;
  text-align: center;
  margin-top: 0.5rem;
}

.review-column {
  background-color: gray;
  border-radius: 5px;
  display: column;
  margin-bottom: 2rem;
  padding-top: 1rem;
  outline: solid;
}

.review-column,
.review-row {
  width: 100%;
  outline: solid;
}

.rating-row {
  border-top: solid;
  border-bottom: solid;
}

.review-row > p {
  padding-bottom: 0.5rem;
}

.reviews-table {
  display: none;
}

.r-mobile-image-container {
  display: flex;
  justify-content: center;
  height: 260px;
  width: 210px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.r-image-container {
  display: flex;
  justify-content: center;
  height: 260px;
  width: 210px;
  margin: 0 auto;
}

.review-image {
  height: 260px;
  width: 210px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

td,
th {
  background-color: white;
  border: 2px solid black;
  padding: 2rem;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope='col'] {
  background-color: #696969;
  color: #fff;
}

th[scope='row'] {
  background-color: #d7d9f2;
}

.image-test {
  width: 30%;
}

.rating-test {
  width: 30%;
}

.review-test {
  width: 40%;
}

/* .reviews-container {
  display: flex;
  justify-content: center;
}

.r-image-container {
  display: flex;
  justify-content: center;
  height: 260px;
  width: 210px;
  margin: 0 auto;
}

.review-image {
  height: 260px;
  width: 210px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

td,
th {
  background-color: white;
  border: 2px solid black;
  padding: 2rem;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope='col'] {
  background-color: #696969;
  color: #fff;
}

th[scope='row'] {
  background-color: #d7d9f2;
}

.image-test {
  width: 30%;
}

.rating-test {
  width: 30%;
}

.review-test {
  width: 40%;
} */
