@import '../node_modules/bootstrap/scss/bootstrap';
// sass --watch ./client/scss/NavigationBar.scss ./client/src/css/NavigationBar.css

a {
  text-decoration: none;
}

.aniviewer-row {
  display: flex;
  justify-content: center;
  background-color: #7575ff;
  padding-top: 0.5rem;
}

.aniviewer-main-tab {
  display: inline;
  font-size: 1.5rem;
  color: white;
  font-style: italic;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #7575ff;
  height: 2rem;
}

.aniviewer-tab {
  display: none;
}

.anime-tab,
.manga-tab,
.seasonal-tab,
.popular-tab,
.top-tab,
.bookmarks-tab,
.reviews-tab,
.sign-out-tab {
  text-decoration: none;
  color: white;
}

.tab-switcher {
  background-color: white;
}

.anime-dropdown-items,
.manga-dropdown-items,
.user-dropdown-items {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #7575ff;
  padding-top: 0.3rem;
  z-index: 3;
}

.anime-dropdown,
.anime-dropdown-items {
  min-width: 4.4rem;
  text-align: center;
}

.manga-dropdown,
.manga-dropdown-items {
  min-width: 4.7rem;
  text-align: center;
}

.user-dropdown,
.user-dropdown-items {
  min-width: 5rem;
  text-align: center;
}

.anime-dropdown:hover .anime-dropdown-items,
.manga-dropdown:hover .manga-dropdown-items,
.user-dropdown:hover .user-dropdown-items {
  display: flex;
  flex-direction: column;
}

.fa-user {
  font-size: 2rem;
}

.pop-nav-search {
  display: flex;
}

.nav-search {
  display: none;
}

.search.modal-content {
  width: 50%;
  margin: 0 auto;
}

.search-bar {
  max-width: 25rem;
}

.fa-search {
  font-size: 1.5rem;
  color: white;
}

.user-dropdown:hover {
  cursor: pointer;
}

.modal-body {
  padding-bottom: 0;
}

.modal-footer {
  justify-content: center;
}

.sign-up {
  text-align: end;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.sign-up-redirect-button {
  margin-left: 0.3rem;
  font-size: 0.8rem;
  border: solid 1px;
  border-radius: 8px;
  background-color: #ffb429;
}

.sign-up-button,
.sign-in-button {
  height: 4rem;
  width: 8rem;
  font-size: 1.8rem;
  border: solid 2px black;
  border-radius: 1rem;
  background-color: #7575ff;
  color: white;
}

@include media-breakpoint-up(xxl) {
  .navigation-bar {
    display: flex;
    align-items: center;
    background-color: #7575ff;
    height: 3.2rem;
  }

  .aniviewer-tab {
    display: block;
  }

  .aniviewer-tab,
  .anime-tab,
  .manga-tab,
  .seasonal-tab,
  .popular-tab,
  .top-tab,
  .bookmarks-tab,
  .reviews-tab,
  .sign-out-tab {
    text-decoration: none;
    color: white;
  }

  .tab-switcher {
    background-color: white;
  }

  .anime-dropdown-items,
  .manga-dropdown-items,
  .user-dropdown-items {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #7575ff;
    padding-top: 0.3rem;
    z-index: 3;
  }

  .anime-dropdown,
  .manga-dropdown,
  .anime-dropdown-items,
  .manga-dropdown-items {
    min-width: 5rem;
    text-align: center;
  }

  .user-dropdown,
  .user-dropdown-items {
    min-width: 9rem;
    text-align: center;
  }

  .anime-dropdown:hover .anime-dropdown-items,
  .manga-dropdown:hover .manga-dropdown-items,
  .user-dropdown:hover .user-dropdown-items {
    display: flex;
    flex-direction: column;
  }

  .nav-search {
    display: flex;
  }

  .fa-user {
    font-size: 2.5rem;
  }

  .search-bar {
    max-width: 25rem;
  }

  .user-dropdown:hover {
    cursor: pointer;
  }

  .modal-body {
    padding-bottom: 0;
  }

  .modal-footer {
    justify-content: center;
  }

  .sign-up {
    text-align: end;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }

  .sign-up-redirect-button {
    margin-left: 0.3rem;
    font-size: 0.8rem;
    border: solid 1px;
    border-radius: 8px;
    background-color: #ffb429;
  }

  .sign-up-button,
  .sign-in-button {
    height: 4rem;
    width: 8rem;
    font-size: 1.8rem;
    border: solid 2px black;
    border-radius: 1rem;
    background-color: #7575ff;
    color: white;
  }
}
