.anime-bookmarks-title {
  text-align: center;
  margin-bottom: 0.7rem;
}

.filter-states {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.filter-anime,
.filter-manga {
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 8px;
  margin: 0 10rem;
}
