.animes-container {
  display: flex;
  flex-direction: column;
}

.anime-icon-container {
  width: calc(100% / 8);
}

.rowOfAnimes {
  display: flex;
  flex-wrap: wrap;
}

.anime-title {
  text-align: center;
  text-wrap: wrap;
  text-decoration: none;
  color: black;
}
