.span-title {
  background-image: url('../../../public/bottom-shadow-overlay.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 0;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  left: 0;
  line-height: 1.2em;
  padding: 15px 5px 5px;
  position: absolute;
  text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0;
  width: 100%;
}

.link {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  opacity: 1;
  position: relative;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.anime-image,
.manga-image {
  height: 180px;
  width: 128px;
}

.anime-title {
  margin: 0;
  padding: 0;
  text-align: center;
  text-wrap: wrap;
  text-decoration: none;
  color: black;
}

@media (width >= 576px) {
  .anime-image,
  .manga-image {
    height: 190px;
    width: 160px;
  }
}

@media (width >= 768px) {
  .anime-image,
  .manga-image {
    height: 200px;
    width: 160px;
  }
}

@media (width >= 992px) {
  .anime-image,
  .manga-image {
    height: 210px;
    width: 165px;
  }
}

@media (width >= 1200px) {
  .anime-image,
  .manga-image {
    height: 215px;
    width: 185px;
  }
}

@media (width >= 1400px) {
  .anime-image,
  .manga-image {
    height: 225px;
    width: 195px;
  }
}
