.animes-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.anime-container {
  display: flex;
  margin: 0 1rem;
}

.anime-icon-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.rowOfAnimes {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.next-prev-buttons {
  display: flex;
  justify-content: space-around;
}

.single-button-row {
  display: flex;
  justify-content: center;
}

.next-button,
.prev-button,
.single-button {
  width: 10rem;
  height: 5rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}
